@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    text-align: center;
}

body {
    background-color: #be6225;
}

.contenedor {   /*Contenedor grid del cuerpo principal que contiene el formulario y el resumen*/
    display: grid;
    gap: 1vw;
    grid-template-areas: 
    "Form"
    "Resumen";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
}

form {
    grid-area: Form;
    background: radial-gradient(#fdad7f, #ee8565);
    padding: 1%;
    margin: .5% 25%;
    border-radius: 1vw 2vw;
    box-shadow: .5vw .5vw #ce4201;
    
}

select {
    border-radius: 2vw;
    background-color: #dd8055;
    color: black;
    border-color: #fd4800;
    padding: .2vw;
}

select:hover{
    background-color: rgb(251, 156, 127);
}

input {
    border-radius: 2vw;
    color: black;
    border-color: #fd4800;
    padding: .2vw;
}

input:focus {
    background-color: rgb(255, 194, 175);
}

#Resumen {  /* Contenedor de tipo grid del resumen que divide la zona del título, los listados de productos, sus cantidades y precios así como el del total */
    grid-area: Resumen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "Titulo Titulo"
    "ProductoFinal ProductoFinal"
    "TotalFinal TotalFinal";
}

h2 {
    font-size: 2vw;
}

p {
    font-size: 1.5vw;
}

#Titulo {
    grid-area: Titulo;
    background-color: #ff9d5c;
    border-radius: 1vw;
    text-shadow: .2vw .2vw .3vw #ffd883;
    font-family: 'Lilita One', cursive;
    color: #e44303;
    margin: 1vw 10vw;
    box-shadow: .5vw 1vw 1vw .3vw #000000;
}

#ProductoFinal {    /* Contenedor de tipo grid que contiene las 3 areas de la lista de productos, sus precios y cantidades*/
    grid-area: ProductoFinal;
    background-color: #f17929;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "Area1 Area2 Area3";
    border-radius: 1vw;
    margin: -1vw 8vw;
    box-shadow: .5vw 1vw 1vw .3vw #000000;

}
#Area1 {
    grid-area: Area1;
}

#Area2 {
    grid-area: Area2;
}

#Area3 {
    grid-area: Area3;
}

#TotalFinal {
    grid-area: TotalFinal;
    background-color: #ff6005;
    border-radius: 1vw;
    margin: 1vw 6vw;
    box-shadow: .5vw .5vw 1vw .3vw #000000;
}

button {
    border-radius: 2vw;
    cursor: pointer;
    padding: .3vw 2vw;
    background-color: #ffad86;
    border-color: #ce4201;
    transition: 0,5s;
}

button:hover {
    background-color: #ce4201;
    border-color: #000000;
    transform: scale(1.1);
    color: white;
}